.carousel
{
    --bottom-dot-size: 25px;
    --arrow-button-size: 40px;

    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.carousel button
{
    position: absolute;
    top: calc(50% - var(--bottom-dot-size) - 15px);

    z-index: 1;
}

.carousel button.left
{
    left: calc(0px - var(--arrow-button-size)/2);
}

.carousel button.right
{
    right: calc(0px - var(--arrow-button-size)/2);
}

.carousel .viewport
{
    width: 100%;
    overflow-x: hidden;
}

.carousel ul.carousel-content
{
    --items-gap: 20;

    display: flex;

    gap: calc(var(--items-gap) * 1px);

    list-style: none;
    padding: 0;

    transition: transform 0.5s;
    transform: translateX(calc(var(--carousel-content-position-x, 0) * 1px));
}

.carousel ul.carousel-content>li
{
    flex: none;
    width: calc((100% - (var(--items-gap) * 1px) * (var(--elements-in-page, 1) - 1))/var(--elements-in-page, 1));
    border-radius: var(--default-border-radius);
}

.carousel ul.carousel-content>li>img
{
    width: calc((100% - (var(--items-gap) * 1px) * (var(--elements-in-page, 1) - 1))/var(--elements-in-page, 1));
    border-radius: var(--default-border-radius);
}

.carousel ul.page-counter
{
    display: flex;
    justify-content: center;

    gap: 13px;

    margin: auto 0;

    list-style: none;
}

.carousel ul.page-counter>li
{
    display: block;
    width: var(--bottom-dot-size);
    height: var(--bottom-dot-size);

    background-color: rgba(82, 8, 125, 0.1);

    border-radius: 50%;
}

.carousel ul.page-counter>li:not(.active-dot):hover
{
    cursor: pointer;
}

.carousel ul.page-counter>li.active-dot
{
    background-color: rgba(82, 8, 125);
}