@import "common/header.css";
@import "pages-styles/home-page.css";
@import "pages-styles/browse-assets-page.css";
@import "pages-styles/login-page.css";
@import "pages-styles/upload-page.css";
@import "pages-styles/asset-page.css";
@import "pages-styles/profile-page.css";
@import "pages-styles/newbie-page.css";
@import "common/asset.css";
@import "common/dropdown.css";
@import "common/buttons.css";
@import "common/forms.css";
@import "common/carousel.css";
@import "common/block-with-side-content.css";
@import "common/image-with-description.css";
@import "common/card.css";
@import "common/loading-component.css";
@import "common/tabbed-content.css";

body
{
    overflow-x: hidden;
    overflow-y: scroll;

    --main-content-area: 1148px;
    max-width: var(--main-content-area);
    margin: 0 auto;
    padding-bottom: 2em;

    font-family: 'Anek Malayalam', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 20px;
    color: #0d0020;

    background-color: #fbfefb;

    --default-border-radius: 9px;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-content-area
{
    width: var(--main-content-area);
    margin: 0 auto;
}

h2
{
    font-size: 30px;

    color: #52087d;
    margin-top: 1em;
    margin-bottom: 0.6em;
}

.circled
{
    border-radius: 50%;
}

/* #region Anchor */
a
{
    color: #FF3B89;
}

a:visited
{
    color: #DD2890;
    opacity: 50%;
}

/* #endregion */

/* #region Checkbox */
.checkbox
{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label
{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before
{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #FF3B89;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked+label::before
{
    background-color: #FF3B89;
    background-image: url("../../../public/icons/tick-white.svg");
    background-size: 0.7em;
}

/* #endregion */

/* #region Tag */

.tag-list
{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.tag
{
    width: fit-content;
    font-size: 14px;

    color: rgba(82, 8, 125);
    background-color: rgba(82, 8, 125, 0.3);

    padding: 0.45em 0.75em;

    border-radius: 1em;
}

.tag button[title='remove']
{
    background: none;
    border: none;
    margin: 0;
    padding-right: 0.5em;
}

/* #endregion */

/* #region Grid List */

ul.grid-list
{
    margin: 0;
    padding: 0;

    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;

    column-gap: 15px;
    row-gap: 40px;
}

ul.grid-list a
{
    color: currentColor;
    text-decoration: none;
}

/* #endregion */

/* #region Separator */

.separator
{
    color: #52087D;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.separator::before
{
    grid-area: before;
    content: '';

    height: 1px;
    width: 100%;

    background-color: #52087d88;
}

.separator::after
{
    grid-area: after;
    content: '';

    height: 1px;
    width: 100%;

    background-color: #52087d88;
}

/* #endregion */