.search-bar
{
    width: 100%;

    display: flex;
    align-items: center;

    border-radius: 35px;
    padding: 0.4em 0.4em 0.4em 0.625em;

    background-color: #360066;
}

.search-bar .search-icon
{
    margin-right: 0.5em;
}