/* #region Primary/Secondary buttons */
button.primary-button,
button.secondary-button
{
  font-family: inherit;
  font-size: 20px;
  padding: 10px 20px;
}

button.primary-button
{
  color: #fbfefb;

  background-color: #FF3B89;
  border: none;
  border-radius: 36px;
}

button.primary-button:hover
{
  background-color: #CA2E6C;
}

button.primary-button:active
{
  background-color: #811C44;
}

button.primary-button:disabled,
button.primary-button[disabled]
{
  background-color: #FF3B89;
  opacity: 40%;
}

button.secondary-button
{
  color: #FF3B89;

  border: 1px solid #FF3B89;
  border-radius: 36px;
  background: none;
}

button.secondary-button:hover
{
  background-color: rgba(255, 59, 137, 0.1);
}

button.secondary-button:active
{
  background-color: rgba(255, 59, 137, 0.4);
}

button.secondary-button:disabled,
button.secondary-button[disabled]
{
  opacity: 40%;
}

/* #endregion */

/* #region Arrow button */

body
{
  --arrow-button-size: 40px;
}

button.arrow-button
{
  border: none;
  background: none;

  display: flex;

  justify-content: center;
  align-items: center;
}

button.arrow-button.filled
{
  background: #FF3B89;
  border-radius: 50%;
}

button.arrow-button.filled.right
{
  padding: 11px 13px 10px 15px;
}

button.arrow-button.filled.left
{
  padding: 11px 15px 10px 13px;
}

/* #endregion */