.dropdown
{
    position: relative;
    z-index: 100;
}

.dropdown .dropdown-icon
{
    margin-left: 10px;
}

.dropdown ul.dropdown-content
{
    position: absolute;

    display: flex;
    flex-direction: column;

    padding: 1em;
    margin: 0;

    box-shadow: 0 1px 2px #0d0020;
    background-color: #360066;

    white-space: nowrap;

    list-style-type: none;
}

.dropdown ul.dropdown-content.right-sided
{
    right: 0;
}

.dropdown>button
{
    font: inherit;
    color: inherit;

    appearance: none;
    cursor: pointer;

    background: transparent;
    border: none;
}

ul.dropdown-content a
{
    font: inherit;
    text-decoration: none;
    color: inherit;

    appearance: none;
    cursor: pointer;
}

ul.dropdown-content>*:not(:last-child)
{
    margin-bottom: 1.3em;
}