/* #region Inputs */

.input-label
{
    font-family: inherit;
    font-size: 14px;

    color: #52087d;

    display: flex;
    flex-direction: column;

    gap: 10px;

    margin: 20px 0;
}

.input-label input,
.input-label textarea
{
    font-family: inherit;
    font-size: 20px;
}

.input-label input
{
    padding: 7px 0 7px 20px;

    color: #0d0020;

    border-radius: 0.5em;
    border: 1px solid #52087d;
}

.input-label textarea:focus-visible,
.input-label input:focus-visible
{
    outline: 2px solid #52087d;
}

.input-label textarea
{
    box-sizing: border-box;
    resize: none;

    padding: 20px 40px 20px 20px;

    color: #0d0020;

    border-color: #52087d;
}

@supports selector(::-webkit-scrollbar)
{
    .input-label textarea
    {
        border-radius: 5px;
    }

    .input-label textarea::-webkit-scrollbar
    {
        width: 9px;
        background-color: rgba(82, 8, 125, 0.3);
        border-radius: 10px;
    }

    .input-label textarea::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: rgba(82, 8, 125, 1);
    }
}

@supports (not selector(::-webkit-scrollbar))
{
    .input-label textarea
    {
        scrollbar-color: rgba(82, 8, 125, 1) rgba(82, 8, 125, 0.3);

        scrollbar-face-color: rgba(82, 8, 125, 1);
        scrollbar-base-color: rgba(82, 8, 125, 0.3);
    }
}

/* #endregion */

/* #region Account Form */

.account-form
{
    background-color: white;
    margin: 0 auto;
    max-width: 750px;

    box-shadow: 0 1px 5px black;
    border-radius: 10px;
}

.account-form h1
{
    font-size: 30px;
    color: #fbfefb;

    box-sizing: border-box;
    width: 100%;
    padding: 1.3em 70px;
    margin: 0;

    background-color: #360068;
    border-radius: 10px 10px 0 0;
}

.account-form .account-form-main-content
{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px 70px 30px;
}

.account-form .account-form-main-content label
{
    margin: 0;
}

.account-form .account-form-main-content #terms,
.account-form .account-form-main-content #terms+label
{
    margin-top: 10px;
}

.account-form .account-form-main-content button[type='submit']
{
    width: fit-content;
    margin-top: 10px;
}

/* #endregion */

/* #region Checkbox */
.checkbox
{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label
{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before
{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: white;
    border: 2px solid #FF3B89;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked+label::before
{
    background-color: #FF3B89;
    background-image: url("../../../../public/icons/tick-white.svg");
    background-size: 0.7em;
}

/* #endregion */