@import "search-bar.css";

header
{
    width: 100%;
    color: white;

    padding-bottom: 1em;

    font-size: 24px;

    position: relative;
    display: grid;

    grid-template-areas:
        "logo navigation profile"
        "searchbar searchbar searchbar";
    grid-template-columns: 1.1fr 2fr auto;
}

/* Background */
header::before
{
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: -50vw;
    right: -50vw;

    z-index: -1;
    background-color: #210052;
}

header a:visited
{
    color: currentColor;
}

.logo>a
{
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.logo>a>img
{
    width: 100%;
}

header .logo
{
    grid-area: logo;
    margin: auto 0;
}

header .profile-area
{
    grid-area: profile;
    margin: auto 0;
}

header .search-bar
{
    grid-area: searchbar;
}

/*#region Main navigation */
header nav
{
    grid-area: navigation;
    margin: auto 0;
}

header nav .current-page-title
{
    color: #ff3b89;
}


header nav ul
{
    display: flex;
    flex-direction: row;

    list-style-type: none;
}

header nav ul>li
{
    margin-right: 2.2em;
}

header nav ul li>a
{
    font: inherit;
    text-decoration: none;
    color: inherit;

    appearance: none;
    cursor: pointer;
}

/*#endregion */

/*#region Header profile area */
header .profile-area
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

header .profile-area .avatar
{
    width: 35px;
    height: 35px;
    margin-right: 0.2em;
}

.profile-area>ul,
.profile-area>div
{
    display: flex;
    flex-direction: row;
}

.profile-area>ul
{
    list-style-type: none;
}

.profile-area ul>li:not(:last-child)
{
    margin-right: 1em;
}

.profile-area ul>li>a
{
    color: currentColor;
    text-decoration: none;
}

/*#endregion */

/* #region Logo Header */

header.logo-header
{
    grid-template-areas: 'logo logo logo';

    min-height: 5em;
}

header.logo-header .logo
{
    margin: 0 auto;
    width: 750px;
}

header.logo-header .logo>a
{
    justify-content: center;
}

header.logo-header .logo>a>img
{
    width: 80%;
}

/* #endregion */